<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.root.makingit">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application
        android:allowBackup="false"
        android:icon="@drawable/cuhplogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cuhplogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:windowSoftInputMode="adjustResize|adjustPan">
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_noti" />
        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <receiver android:name=".NotificationBroadcastReceiver">
            <intent-filter>
                <action android:name="notification_cancelled"/>
            </intent-filter>
        </receiver>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.MyNoActionBarTrans">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.MyNoActionBar">
            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.MyNoActionBarTrans">
        </activity>
        <activity android:name=".UserProfileOpenActivity"
            android:theme="@style/AppTheme.MyNoActionBar"
            android:label="@string/title_activity_main"/>

        <activity android:name=".ForumPostCommentActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.MyNoActionBar"
            android:label="@string/title_activity_main"/>

        <activity android:name=".ChatScreenActivity"
            android:theme="@style/AppTheme.MyNoActionBar"
            android:label="@string/title_activity_main"/>

        <activity android:name=".InstituteMainActivity"
            android:theme="@style/AppTheme.MyNoActionBarTrans"
            android:label="@string/title_activity_main"/>
        <activity android:name=".AddAlumniActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.MyNoActionBar"/>
    </application>

</manifest>